@charset "utf-8";

/****** 브라우저 초기화 및 전체 설정 ******/
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  /*점, 숫자 등 목록의 장식 제거*/
  float: left;
  /*왼쪽으로 이어붙이기-position:absolute와 비슷*/
}

a {
  text-decoration: none;
  /*밑줄 등 글자의 장식 제거*/
  color: #000;
}

a:hover {
  color: #aaa;
}

img {
  vertical-align: top;
  /*글자의 속성을 가진 img태그의 기본 여백 제거*/
}

address {
  font-style: normal;
  /*기본 설정은 italic*/
}

small {
  font-size: 100%;
  /*기본 설정은 약 85%*/
}

#wrap {
  min-width: 1110px;
  /*min-width설정시 width:auto 자동 설정*/
}

.behind {
  /*** 영역을 차지하지 않도록 ***/
  position: absolute;

  /*** 최소 크기로 설정 ***/
  width: 1px;
  height: 1px;
  overflow: hidden;
  /*넘치는 요소 보이지 않게*/

  /*** 브라우저 (왼쪽)바깥으로 이동 ***/
  left: -1px;
  top: 0;
}

.hidden {
  /*** 시각적으로 보이지 않게 ***/
  visibility: hidden;

  /*** 영역의 크기를 0으로 ***/
  width: 0;
  height: 0;

  /*** 콘텐츠의 크기를 0으로 ***/
  font-size: 0;
  line-height: 0;
}







/****** 헤더 영역 ******/
header {
  width: 1110px;
  height: 52px;
  margin: 40px auto;
}

header > div {
  float: left;
}

#logo {
  width: 253px;
  height: 52px;
}

#header_right {
  width: 857px;
  height: 52px;
}

#gnb {
  float: right;
  font-size: 12px;
}

#gnb > ul > li {
  position: relative;
  /*가상요소 after의 위치 기준*/
}

#gnb > ul > li::before {
  content: "";
  width: 1px;
  height: 8px;
  background-color: #ddd;
  position: absolute;
  left: 0;
  top: 4px;
}

#gnb > ul > li:nth-child(1)::before {
  content: none;
}

#gnb > ul > li > a {
  padding: 0 10px;
}

#gnb > ul > li:nth-child(1) > a {
  padding-left: 0;
}

#gnb > ul > li:nth-child(5) > a {
  padding-right: 0;
}






/****** 주 메뉴 ******/
.lnb {
  width: 100%;
  height: 40px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #000;
}

.lnb > ul {
  width: 1110px;
  height: 40px;
  margin: 0 auto;
}

.lnb > ul > li > a {
  display: block;
  padding: 0 15px;
  line-height: 40px;
  font-weight: bold;
}

.lnb > ul > li:first-child a {
  padding-left: 0;
}

.lnb > ul > li {
  position: relative;
  /*자녀요소인 .sub의 위치 기준*/
}

.lnb > ul > li:nth-child(1) .sub {
  left: -10px;
  width: calc(100% + 10px);
  /*calc(calculate)는 계산식 - calc와 ()는 붙여쓰고, 연산자는 반드시 띄어쓰기*/
}

.sub {
  position: absolute;
  width: 100%;
  background-color: #0006;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  /*슬라이드 배너에 가려지지 않도록*/
}

.sub > li {
  width: 100%;
  clear: both;
  /*float:left 적용 종료,제외*/
}

.sub > li > a {
  display: block;
  line-height: 30px;
  text-align: center;
}

.lnb > ul > li:hover .sub {
  height: 150px;
}







/****** 콘텐츠 ******/
section {
  width: 100%;
  border-bottom: 1px solid #000;
}

#main_banner {
  width: 100%;
  height: 393px;
  border-bottom: 4px solid #000;
  overflow: hidden;
}

#main_banner > ul {
  width: 300%;
  position: relative;
  animation: slider 15s infinite;
}

@keyframes slider {
  0% {
    left: 0;
  }

  30% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  63% {
    left: -100%;
  }

  66% {
    left: -200%;
  }

  96% {
    left: -200%;
  }

  100% {
    left: 0;
  }
}

#main_banner > ul > li {
  width: 33.333333%;
  overflow: hidden;
}

#main_banner > ul > li > a {
  display: block;
  width: 2000px;
  height: 393px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#main_banner > ul > li > a > img {
  width: 100%;
}

#banner {
  width: 1110px;
  height: 130px;
  margin: 20px auto;
}

#banner > ul {
  /*img태그사용시 크기 자동*/
}

#banner > ul > li {
  /*img태그사용시 크기 자동*/
  margin-right: 10px;
  background-color: #000;
}

#banner > ul > li:last-child {
  margin: 0;
}

#banner > ul > li a {
  transition: all 0.2s ease-in-out;
}

#banner > ul > li:hover a {
  opacity: 0.6;
}

#best {
  width: 1110px;
  height: 334px;
  margin: 20px auto;
}

#best > h3 {
  height: 30px;
  font-weight: normal;
}

#best > ul > li:nth-child(odd) {
  margin-right: 17px;
}

#best > ul > li:nth-child(2) {
  margin-right: 16px;
}

#best > ul > li {
  position: relative;
  /*.box의 위치 기준*/
  overflow: hidden;
}

.box {
  width: 100%;
  height: 100%;
  background-color: #0006;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.5s ease-in-out;
}

.box > ul {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box > ul > li {
  width: 100%;
  text-align: center;
}

.box a {
  color: #ddd;
}

.box a:hover {
  color: #fff;
}

.name {
  font-size: 14px;
  font-weight: bold;
}

.price {
  font-size: 24px;
  font-weight: bold;
  display: block;
  height: 40px;
}

#best > ul > li:hover .box {
  top: 0;
}






/****** 하단 기업정보 영역 ******/
footer {
  width: 1110px;
  height: 120px;
  margin: 0 auto;
}

footer > div {
  float: left;
}

#bottom_logo {
  width: 253px;
  height: 90px;
  margin-top: 30px;
}

#footer_right {
  width: 857px;
  height: 120px;
}

#fnb {
  width: 857px;
  height: 30px;
}

#fnb > ul > li > a {
  display: block;
  line-height: 30px;
  font-weight: bold;
  font-size: 14px;
  padding: 0 10px;
}

#fnb > ul > li:nth-child(1) > a {
  padding-left: 0;
}

#address {
  width: 857px;
  height: 90px;
  font-size: 12px;
  line-height: 1.5;
}

#address a {
  font-weight: bold;
}

#address address {
  height: 60px;
}
