@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 30px;
}





/****** 가상클래스 선택자 ******/
.child > ul > li:first-child {
  color: red;
}

.child > ul > li:nth-child(2) {
  color: green;
}

.child > ul > li:last-child {
  color: blue;
}




/****** 가상요소 선택자 ******/

/*** before&after 공통 ***/
nav {
  width: 1024px;
  height: 100px;
  background-color: #ddd;
  margin-top: 20px;
}

nav > ul {
  float: right;
}

nav > ul > li {
  list-style: none;
  float: left;
}

nav a {
  text-decoration: none;
  font-size: 32px;
  color: #000;
}


/*** 가상클래스를 이용한 a태그 간격설정 ***/
nav > ul > li > a {
  padding: 0 20px;
}

nav > ul > li:nth-child(1) > a {
  padding-left: 0;
}

nav > ul > li:nth-child(5) > a {
  padding-right: 0;
}


/*** before ***/
.before > ul > li {
  position: relative;
  /*가상요소(자녀와비슷)인 before의 위치 기준*/
}

.before > ul > li::before {
  content: "";
  /*텍스트로 표현할 때에는 ""안에 입력, 모양으로 입력할 때에는 비워두기*/
  width: 2px;
  height: 20px;
  background-color: red;
  position: absolute;
  /*부모요소 중 position속성이 있는 요소를 기준을 삼음*/
  left: 0;
  top: 12px;
}

.before > ul > li:nth-child(1)::before {
  content: none;
}



/*** after ***/
.after > ul > li {
  /*** 가상요소의 위치 기준 ***/
  position: relative;
}

.after > ul > li::after {
  /*** 2*20px, 파란색 막대, 오른쪽끝에 위치 ***/
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 12px;
  background-color: blue;
}

/*** 마지막 li의 가상요소 제거 ***/
.after > ul > li:nth-child(5)::after {
  content: none;
}
