@charset "utf-8";

/****** 전체 설정 ******/
* {
  margin: 0;
  padding: 0;
  color: #555;
}

li {
  list-style: none;
  float: left;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
  /*텍스트 성격의 태그에 기본설정되어 있는 여백 제거*/
}

#wrap {
  min-width: 1090px;
}

.behind {
  /*** 영역을 차지 하지 않도록 ***/
  position: absolute;

  /*** 최소크기로 설정 ***/
  width: 1px;
  height: 1px;
  overflow: hidden;

  /*** 브라우저 바깥으로 이동 ***/
  left: -1px;
  top: 0;
}

.hidden {
  /*** 시각적으로 보이지 않도록 ***/
  visibility: hidden;

  /*** 영역의 크기를 0으로 ***/
  width: 0;
  height: 0;

  /*** 콘텐츠의 크기를 0으로 ***/
  font-size: 0;
  line-height: 0;
}








/****** 헤더 영역 ******/
header {
  width: 100%;
  height: 100px;
}

#top {
  width: 100%;
  height: 29px;
  border-bottom: 1px solid #ddd;
}

#gnb {
  width: 1090px;
  height: 29px;
  margin: 0 auto;
}

#gnb > nav {
  float: left;
}

#gnb a {
  display: block;
  line-height: 29px;
  font-size: 12px;
}

#gnb1 {
  height: 30px;
  width: 790px;
}

#gnb1 li {
  border-left: 1px solid #ddd;
}

#gnb1 li:last-child {
  border-right: 1px solid #ddd;
}

#gnb1 a {
  padding: 0 10px;
  color: #333;
}

#gnb1 a:hover {
  color: #fff;
  background-color: #ddd;
}

#gnb2 {
  height: 30px;
  width: 300px;
}

#gnb2 li {
  width: 150px;
  text-align: center;
}

#gnb2 li:first-child {
  width: 149px;
  border-right: 1px solid #ddd;
}

#gnb2 a {
  color: #fff;
  background-color: #556;
}

#gnb2 a:hover {
  background-color: #4484db;
}

#logo {
  width: 1090px;
  height: 70px;
  margin: 0 auto;
  padding-top: 20px;
}






/****** 주 메뉴 ******/
#lnb {
  width: 100%;
  height: 40px;
  background-color: #556;
  position: relative;
}

#lnb > ul {
  width: 1090px;
  height: 40px;
  margin: 0 auto;
}

#lnb > ul > li {
  width: 182px;
  text-align: center;
  position: relative;
}

#lnb > ul > li:first-child,
#lnb > ul > li:last-child {
  width: 181px;
}

#lnb a {
  display: block;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
}

#lnb a:hover {
  background-color: #4484db;
}

.box {
  position: absolute;
  /*위치기준은 #lnb*/
  width: 100%;
  background-color: #4484db;
  left: 0;
  top: 40px;
}

.sub {
  /*** 공간을 차지하지 않도록 ***/
  position: absolute;
  /*** #main_banner의 position설정으로 인해 Z값이 높아진 상태 - .sub나 혹은 #lnb에 Z값을 높이는 설정사용 ***/
  z-index: 1;
  width: 100%;
  /*위치기준이 되는 조상요소에 대하여 100%*/
  height: 0;
  overflow: hidden;
  left: 0;
  top: 40px;
  transition: all 0.2s ease-in-out;
}

.sub > li {
  clear: both;
  /*모든 li에 적용된 float:left 해제(제외)*/
  width: 100%;
  text-align: center;
}

/*** #lnb a 보다 우선순위가 높은 선택자 설정 ***/
#lnb .sub > li > a {
  display: block;
  line-height: 30px;
  font-size: 14px;
  font-weight: 200;
}

#lnb:hover .sub {
  height: 160px;
}

#lnb .sub > li > a:hover {
  background: #556;
}




/****** 콘텐츠 ******/
section {
  width: 100%;
}

#main_banner {
  width: 100%;
  height: 477px;
  background-color: #a0d1a0;
  overflow: hidden;
}

.slide {
  width: 500%;
  position: relative;
  left: 0;
  animation: slider 20s infinite;
}

@keyframes slider {
  0% {
    left: 0;
  }

  18% {
    left: 0;
  }

  20% {
    left: -100%;
  }

  38% {
    left: -100%;
  }

  40% {
    left: -200%
  }

  58% {
    left: -200%
  }

  60% {
    left: -300%;
  }

  78% {
    left: -300%;
  }

  80% {
    left: -400%;
  }

  98% {
    left: -400%;
  }
}

.slide > li {
  width: 20%;
  overflow: hidden;
}

.slide > li > a {
  /*자녀요소인 img태그의 실제 크기*/
  display: block;
  width: 1709px;
  height: 477px;
  /*부모요소인 li의 중앙에 정렬*/
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.slide > li > a > img {
  width: 100%;
  /*부모요소인 a태그 맞춤*/
}

#lnb2 {
  width: 100%;
  height: 110px;
  background-color: #ececee;
}

#lnb2 > ul {
  width: 1090px;
  height: 110px;
  margin: 0 auto;
}

#lnb2 > ul > li {
  width: 180px;
  height: 110px;
  background-image: url(../images/02_snb.jpg);
}

#lnb2 > ul > li:nth-child(1) {
  background-position: 0 0;
}

#lnb2 > ul > li:nth-child(1):hover {
  background-position: 0 -110px;
}

#lnb2 > ul > li:nth-child(2) {
  background-position: -180px 0;
}

#lnb2 > ul > li:nth-child(2):hover {
  background-position: -180px -110px;
}

#lnb2 > ul > li:nth-child(3) {
  background-position: -360px 0;
}

#lnb2 > ul > li:nth-child(3):hover {
  background-position: -360px -110px;
}

#lnb2 > ul > li:nth-child(4) {
  background-position: -540px 0;
}

#lnb2 > ul > li:nth-child(4):hover {
  background-position: -540px -110px;
}

#lnb2 > ul > li:nth-child(5) {
  background-position: -720px 0;
}

#lnb2 > ul > li:nth-child(5):hover {
  background-position: -720px -110px;
}

#lnb2 > ul > li:nth-child(6) {
  background-position: -900px 0;
}

#lnb2 > ul > li:nth-child(6):hover {
  background-position: -900px -110px;
}

#lnb2 > ul > li > a {
  display: block;
  height: 100%;
  text-indent: -9999px;
}

#banner {
  width: 1090px;
  height: 174px;
  margin: 20px auto;
}

#banner > ul > li {
  margin-right: 11px;
}

#banner > ul > li:nth-child(1) {
  margin-left: 1px;
}

#banner > ul > li:nth-child(4) {
  margin: 0;
}




/*** 센터 안내 ***/

#service {
  width: 1090px;
  overflow: hidden;
  /*높이 자동 계산*/
  margin: 20px auto;
}

#service > h3 {
  height: 50px;
  font-size: 32px;
  font-weight: 200;
  text-align: center;
}

#service > ul {
  border: 1px solid #ddd;
  overflow: hidden;
  /*높이 자동 계산*/
}

#service > ul > li {
  width: 362px;
  overflow: hidden;
  /*높이 자동 계산*/
}

#service > ul > li:nth-child(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#service > ul > li > div {
  height: 130px;
  padding: 40px;
  position: relative;
  /*after와 .img-bx의 위치 기준*/
}

#service > ul > li > div:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 302px;
  height: 1px;
  background-color: #ddd;
  bottom: 0;
  left: 30px;
}

#service div h4 {
  height: 30px;
  font-size: 20px;
}

#service div h5 {
  font: 14px;
  height: 42px;
  letter-spacing: -1px;
  /*자간(글자의 간격)*/
}

#service div p {
  font-size: 12px;
  line-height: 1.5;
}

.img-bx {
  width: 100px;
  height: 100px;
  background-image: url(../images/04_box_back_img.jpg);
  position: absolute;
  right: 20px;
  bottom: 10px;
  text-indent: -9999px;
}

.box1 .img-bx {
  background-position: 0 0;
}

.box1:hover .img-bx {
  background-position: -100px 0;
}

.box2 .img-bx {
  background-position: 0 -100px;
}

.box2:hover .img-bx {
  background-position: -100px -100px;
}

.box3 .img-bx {
  background-position: 0 -200px;
}

.box3:hover .img-bx {
  background-position: -100px -200px;
}

.box4 .img-bx {
  background-position: 0 -300px;
}

.box4:hover .img-bx {
  background-position: -100px -300px;
}

.box5 .img-bx {
  background-position: 0 -400px;
}

.box5:hover .img-bx {
  background-position: -100px -400px;
}

.box6 .img-bx {
  background-position: 0 -500px;
}

.box6:hover .img-bx {
  background-position: -100px -500px;
}




/*** 대표 쇼핑몰 ***/

#sample {
  width: 1090px;
  overflow: hidden;
  /*높이 자동 계산*/
  margin: 20px auto;
}

#sample > h3 {
  height: 40px;
}

#sample > ul {
  text-align: center;
  overflow: hidden;
  /*높이 자동 계산*/
}

#sample > ul > li {
  width: 168px;
  height: 98px;
  border: 1px solid #ddd;
  border-radius: 7px;
  /*모퉁이 둥굴리기: 값을 1개 입력하면 4꼭지점 공통, 값을 2개 이상 입력하면 왼쪽위부터 시계방향(미입력 값은 대칭과 동일)*/
  margin: 0 14px 14px 0;
  font-size: 12px;
}

/*6의 배수번째*/
#sample > ul > li:nth-child(6n) {
  margin-right: 0;
}







/****** 푸터 영역 ******/
footer {
  width: 100%;
  height: 230px;
  background-color: #222;
}

#footer_box {
  width: 1090px;
  height: 180px;
  margin: 0 auto;
}

#footer_box > div {
  float: left;
}

#bottom_logo {
  width: 238px;
  height: 140px;
  padding-top: 40px;
}

#footer_right {
  width: 852px;
  height: 180px;
}

#fnb {
  width: 852px;
  height: 50px;
  border-bottom: 1px solid #666;
}

#fnb a {
  font-size: 12px;
  color: #fff;
  line-height: 50px;
  padding: 37px;
}

#fnb a:hover {
  color: #4484db;
}

#fnb a:hover {
  color: #4484db;
}

#fnb li {
  position: relative;
  /*가상요소 before의 위치 기준*/
}

#fnb li::before {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #666;
  position: absolute;
  left: 0;
  top: 20px;
}

#fnb li:nth-child(1)::before {
  content: none;
}

#fnb li:first-child a {
  padding-left: 0;
}

address {
  width: 852px;
  height: 112px;
  color: #ddd;
  font-style: normal;
  font-size: 11px;
  line-height: 1.6;
  padding-top: 18px;
}

address a {
  display: inline-block;
  /*크기적용은 블록태그 속성, 정렬기준은 인라인태그 속성*/
  border: 1px solid #666;
  color: #ddd;
  padding: 1px 5px;
  background-color: #333;
}

address a:hover {
  color: #fff;
  background-color: #4484db;
}

#copyright {
  width: 100%;
  height: 50px;
  background-color: #333;
  text-align: center;
}

small {
  color: #ddd;
  line-height: 50px;
  font-size: 12px;
}
