* {
  max-width: 100%;
  min-width: 100%;
}
table,
td,
th {
  border: 1px solid #ccc;
  /* text-align: center; */
}

td,
th {
  padding: 10px 20px;
}

th {
  background-color: rgb(216, 204, 219);
}

td {
  background-color: rgb(238, 252, 221);
}
