@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

header {
  height: 200px;
  background-color: #ddd;
}

section {
  height: 300px;
  background-image: url(../images/position.png);
  background-repeat: no-repeat;
  background-position: 47px 47px;
}

section > h2 {
  height: 50px;
}

section > ul {
  width: 1000px;
  height: 200px;
  margin-left: 50px;
}

section > ul > li {
  width: 200px;
  height: 200px;
  background-color: #333;
  float: left;
  list-style: none;
  margin-right: 50px;
  color: #fff;
}

section h3 {
  height: 40px;
  font-size: 30px;
  text-align: center;
}

section p {
  text-align: center;
  height: 30px;
}

.note {
  font-size: 12px;
  margin: 10px 10px 10px 30px
}

.static {
  position: static;
}

.relative {
  position: relative;
  left: -20px;
  top: -30px;
}

.absolute {
  position: absolute;
  top: 0;
  left: 550px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 800px;
/* 사이드메뉴, 주메뉴에 주로 사용 (고정) */
}

.sub_ab {
  width: 200px;
  height: 200px;
  background-color: #faa;
  position: absolute;
  left: 5px;
  top: 195px;
}

footer {
  height: 1000px;
  background-color: #ddd;
}