@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 20px;
}

header {
  /*** 화면에 꽉 차게 ***/
  width: auto;
  height: 100vh;
  background: url(../images/background.jpg) center;
  background-size: cover;
  background-attachment: fixed;
  /*배경위치스크롤: 고정 - background 축약 속성으로 표현 가능*/
}

h1 {
  /*** text 가로세로 중앙 정렬 ***/
  text-align: center;
  color: #fff;
  font: bold 64px 'arial';
  text-shadow: 3px 5px 5px #000;
  position: relative;
  /*
  top: 50%;
  transform: translateY(-50%);
  */
  height: 90px;
  top: calc(50% - 90px / 2);
  /*calc(calculate)는 계산식 - 연산자 앞뒤는 반드시 띄어 쓰기*/
}

li {
  list-style: none;
  margin: 20px;
  border: 4px solid red;
  height: 45vh;
  /*vh는 Viewport Height, 100vh는 body영역의 높이 전체*/
  /*
  font-weight: bold;
  font-size: 32px;
  line-height: 200px;
  font-family: 'arial';
*/
  font: bold 32px/45vh 'arial';
  /*font 한 줄 축약: 두께 글자크기/행간 '글꼴(비워놓으면 브라우저 기본글꼴)' - 순서대로 작성하고 글자크기와 글꼴 필수*/
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px red;
  /*글자 드롭셰도우: X값 Y값 번짐 색상*/
  /*
  background-color: #faa;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
*/
  background: url(../images/background.jpg) center #faa no-repeat;
  /*background 한 줄 축약: 배경이미지 위치 배경색 반복 - 순서에 상관없이 속성별 띄어쓰기(단, url과 ()는 하나의 속성)*/
}

/*** background-size(이미지크기 자동 설정) 속성은 css3속성이므로 축약속성과는 별도 작성 ***/
li:nth-child(1) {
  background-size: cover;
  /*배경이미지-크기: 영역에 꽉 차게*/
}

li:nth-child(2) {
  background-size: contain;
  /*배경이미지-크기: 이미지가 잘리지 않도록*/
}

li:nth-child(3) {
  background-size: 40vw;
  /*가로는 40vw(vw는 Viewport Width), 세로는 자동(정비례)*/
}

li:nth-child(4) {
  background-size: auto 25vh;
  /*가로는 자동(정비례), 세로는 25vh*/
}
