@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

section {
  min-width: 1110px;
  /*min-width지정하면 width:100% 자동*/
  overflow: hidden;
  margin: 20px 0;
}

aside {
  margin-top: 50px;
}

h3 {
  height: 30px;
}

.slide {
  width: 100%;
  height: 393px;
  border-top: 1px solid #000;
  border-bottom: 4px solid #000;
}

.slide > ul {
  width: 300%;
  /*부모요소인 .slide의 3배*/
  height: 100%;
  position: relative;
  /*위치값을 적용하기 위한 설정*/
  animation: slider 15s infinite;
  /*애니메이션: 이름 실행시간 실행횟수*/
}

@keyframes slider {
  0% {
    left: 0;
    /*1차 위치*/
  }

  30% {
    left: 0;
  }

  33% {
    left: -100%;
    /*2차 위치*/
  }

  63% {
    left: -100%;
  }

  66% {
    left: -200%;
    /*3차 위치*/
  }

  96% {
    left: -200%;
  }

  100% {
    left: 0;
    /*0%와 동일*/
  }
}

.slide > ul > li {
  width: 33.333333%;
  /*부모요소인 ul의 1/3*/
  height: 100%;
  float: left;
}




/****** 배경이미지 사용 ******/
.bgi > ul > li {
  background-position: center;
}

.bgi > ul > li:nth-child(1) {
  background-image: url(../images/image_slide_1.jpg);
}

.bgi > ul > li:nth-child(2) {
  background-image: url(../images/image_slide_2.jpg);
}

.bgi > ul > li:nth-child(3) {
  background-image: url(../images/image_slide_3.jpg);
}




/****** img태그 사용 ******/
.img > ul > li {
  overflow: hidden;
  /*영역을 벗어난 요소는 보이지 않게*/
}

.img > ul > li > a {
  display: block;
  width: 2000px;
  height: 393px;
  /*img의 실사이즈로 크기 설정*/

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /*부모요소인 li의 중앙에 정렬*/
}

.img > ul > li > a > img {
  width: 100%;
  /*크기를 지정하거나, 부모요소의 크기에 맞춤*/

  vertical-align: top;
  /*여백 제거*/
}
